.sample-background{
	/* border: 3px solid black; */
	height: 500px;
	width: 97%;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4), 0 5px 12px 0 rgba(0, 0, 0, 0.15);
}

.heading{
	text-align: center;
}

.background-example-heading{
	padding: 10px;
	text-align: center;
}

.para-info{
	font-size: 2em; 
	font-weight: 200;
}


#examples-heading, #para-info{
	text-align: center;
}

.example-info{
	font-size: 1.4em;
	font-weight: 200;
}

.row{
	padding: 20px;
}

#rocket{
	width: 600px;
}

.btn-large{
	background-color: rgb(223, 117, 118);
}

#download-btn{
	background-color: #fff;
	color: black;
}

#download-btn .material-icons{
	font-size: 1rem;
}

.background-layer-1{
	text-align: center;
}

.wavy-text-div{
	position: absolute;
	margin-top: 200px;
	margin-left: 300px;
}

.card-holder{
	display: flex; 
	justify-content: center; 
	padding-top: 60px;
	position: relative;
}

/* .card-holder:hover{
	position: absolute; width: 275px; height: 325px; background-color: rgb(238, 239, 240); transform-style: preserve-3d; transition: all 0.5s ease; transformY: rotateY(180deg);
} */

.footer{
	background-color: rgb(238, 239, 240);
	min-height: 200px;
    height: 8vh;
    font-weight: 800;
}

.footer a u{
	color: #000; 
}

#github-img{
	height: 100px;
    margin-left: 300px;;
    margin-top: 50px;
}

.footer-info{
    margin-top: 60px;
}